.user-card {
    width: 600px;
    background-color: #fff;
    border: 2px solid #999;
    border-radius: 5px;
    font-family:'Trebuchet MS', sans-serif;
    margin: 10px 200px;
}

.card-header {
    background-color: #17a2b8;
    height: 140px;
    margin-bottom: 45px;
}

.card-body {
    padding: 20px;
    margin-top: auto;
}

.foto{
    height: 150px;
    margin-top: 70px;
    margin-left: 20px;
}

.map {
    height: 20px;
}

.icon-s {
    height: 20px;
    margin-left: 20px;    
}


